.denied {
    font-family: 'Manrope', sans-serif;
    font-size: 2.6rem;
    color: white;
    font-weight: bold;
    z-index: 1;
}
.link {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: #82B1FF;
    margin-top: 2vh;
    transition: all 0.2s;
    z-index: 1;
}
.link:hover {
    cursor: pointer;
    color: white;
}
.center {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1199px) {
    .denied {
        font-size: 2.4rem;
    }
    .link {
        font-size: 1.2rem;
    }
}
@media (max-width: 991px) {
    .denied {
        font-size: 2rem;
    }
    .link {
        font-size: 1.1rem;
        margin-top: 1.5vh;
    }
}
