.window {
    background: #000000;
    border: 0.1rem solid #304FFE;
    box-shadow: 0 0 2rem 1rem rgba(48, 79, 254, 0.25);
    border-radius: 1.8rem;
    width: 53rem;
    height: 23rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.line {
    display: flex;
}
.head {
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    transform: translateY(0.2rem);
}
.text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.7rem;
}
.ml_auto {
    margin-left: auto;
}
.input {
    width: 100%;
    margin-top: 1rem;
}
.button {
    width: 18rem;
    height: 4rem;
    margin-left: auto;
    margin-top: auto;
}
@media (max-width: 1199px) {
    .window {
        width: 46rem;
        height: 20rem;
        padding: 1.6rem;
    }
    .head {
        font-size: 1.8rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .button {
        width: 16rem;
        height: 3.4rem;
    }
}
@media (max-width: 991px) {
    .window {
        width: 40rem;
        height: 17rem;
        padding: 1.4rem;
        border-radius: 1.4rem;
    }
    .head {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1rem;
    }
    .input {
        margin-top: 0.8rem;
    }
    .button {
        width: 14rem;
        height: 3rem;
    }
}
@media (max-width: 767px) {
    .window {
        width: 34rem;
        height: 15rem;
        padding: 1.1rem;
    }
    .head {
        font-size: 1.2rem;
    }
    .text {
        margin-top: 0;
        font-size: 0.9rem;
    }
    .button {
        width: 11rem;
        height: 2.4rem;
    }
}
@media (max-width: 575px) {
    .window {
        height: 18rem;
    }
    .head {
        font-size: 1.4rem;
    }
    .text {
        margin-top: 0.6rem;
    }
    .input {
        margin-top: 1rem;
    }
    .button {
        width: 13rem;
        height: 2.8rem;
    }
}