.notification {
    width: 32rem;
    min-height: 10rem;
    border-radius: 1rem;
    background-color: #1a2333;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    top: 5rem;
    left: 2rem;
    z-index: 3;
}
.error {
    background-color: #E53935;
}
.up_line {
    display: flex;
    align-items: center;
}
.head {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
.close {
    width: 2.2rem;
    height: 2.2rem;
    fill: #82B1FF;
    transition: all 0.5s;
    margin-left: auto;
}
.close:hover {
    cursor: pointer;
    transform: rotate(90deg);
}
.white {
    fill: #ffffff;
}
.text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    color: white;
    margin-top: 1rem;
}