.page_line {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
}
@media (max-width: 991px) {
    .page_line {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}