.left {
    padding: 4rem 2.2rem;
    display: flex;
    flex-direction: column;
    width: 65%;
}
.separate {
    height: 100%;
    width: 0;
    border-left: 0.1rem solid #304FFE;
}
.right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem;
}
.close_line {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.track {
    display: flex;
}
.track_info {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.preview {
    width: 10rem;
    height: 10rem;
    margin-right: 2.3rem;
    border-radius: 0.8rem;
}
.name {
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
.bpm {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.6rem;
}
.price {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    margin-top: auto;
}
.list {
    margin-top: 3.5rem;
    max-height: 20.8rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.list::-webkit-scrollbar {
    width: 0;
}
.variant {
    display: flex;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 6rem;
    margin-bottom: 1.4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    transition: all 0.2s;
}
.variant:hover {
    border-color: white;
    cursor: pointer;
}
.variant:hover .round {
    border-color: white;
}
.variant:hover .check {
    fill: white;
}
.variant:hover .current_name {
    color: white;
}
.round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all 0.2s;
}
.check {
    width: 2rem;
    height: 2rem;
    fill: #82B1FF;
    transition: all 0.2s;
}
.var_name {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    margin-left: 1.3rem;
    color: white;
}
.current {
    border-color: #82B1FF;
}
.current_name {
    color: #82B1FF;
}
.message {
    display: inline-flex;
    align-items: center;
    margin-top: 0.7rem;
}
.message:hover {
    cursor: pointer;
}
.message:hover .write_text {
    color: white;
}
.message:hover .svg {
    fill: white;
}
.svg {
    width: 2.2rem;
    height: 2.2rem;
    fill: #82B1FF;
    transition: all 0.2s;
}
.write_text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: #82B1FF;
    margin-left: 0.5rem;
    transition: all 0.2s;
}
.button {
    width: 22rem;
    height: 4rem;
    background-color: #304FFE;
    border-radius: 0.8rem;
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: white;
    border: none;
    outline: none;
    margin-top: 3rem;
}
.conditions {
    width: 100%;
    margin-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.8rem 1rem;
    max-height: 20rem;
}
.conditions::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 0.2rem;
    border-radius: 0.2rem;
}
.conditions::-webkit-scrollbar-thumb {
    background-color: #82B1FF;
    border-radius: 0.2rem;
}
.condition {
    display: flex;
    margin-bottom: 1.1rem;
}
.dot {
    display: inline-block;
    background-color: #82B1FF;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin-top: 0.3rem;
}
.cond_text {
    display: inline-block;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    color: white;
    margin-left: 0.7rem;
    width: calc(100% - 1.2rem);
}
.note {
    font-family: 'Manrope', sans-serif;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: auto;
    text-align: center;
}
.column {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1199px) {
    .left {
        padding: 3.8rem 2rem 2.4rem;
    }
    .right {
        padding: 0.8rem 0.8rem 1.8rem;
    }
    .preview {
        width: 9rem;
        height: 9rem;
        margin-right: 1.8rem;
        border-radius: 0.7rem;
    }
    .name {
        font-size: 1.6rem;
    }
    .bpm {
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
    .price {
        font-size: 1.6rem;
    }
    .list {
        margin-top: 2rem;
        max-height: 25.6rem;
    }
    .variant {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        height: 5.5rem;
        margin-bottom: 1.2rem;
        border-radius: 0.9rem;
    }
    .round {
        width: 2.7rem;
        height: 2.7rem;
    }
    .check {
        width: 1.8rem;
        height: 1.8rem;
    }
    .var_name {
        font-size: 1.4rem;
    }
    .svg {
        width: 1.9rem;
        height: 1.9rem;
    }
    .write_text {
        font-size: 1.2rem;
    }
    .button {
        width: 18rem;
        height: 3.5rem;
        border-radius: 0.7rem;
        font-size: 1.2rem;
    }
}
@media (max-width: 767px) {
    .left {
        padding: 2.6rem 1.4rem 2rem;
    }
    .right {
        padding: 0.6rem 0.6rem 1.4rem;
    }
    .preview {
        width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
    }
    .name {
        font-size: 1.3rem;
    }
    .bpm {
        font-size: 1rem;
        margin-top: 0.1rem;
    }
    .price {
        font-size: 1.3rem;
    }
    .list {
        margin-top: 2rem;
        max-height: 16.6rem;
    }
    .variant {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        height: 5rem;
        margin-bottom: 0.8rem;
        border-radius: 0.7rem;
    }
    .variant:hover {
        border-color: #82B1FF;
        cursor: pointer;
    }
    .variant:hover .round {
        border-color: #82B1FF;
    }
    .variant:hover .check {
        fill: #82B1FF;
    }
    .variant:hover .current_name {
        color: #82B1FF;
    }
    .round {
        width: 2.4rem;
        height: 2.4rem;
    }
    .check {
        width: 1.6rem;
        height: 1.6rem;
    }
    .var_name {
        font-size: 1.2rem;
    }
    .svg {
        width: 1.7rem;
        height: 1.7rem;
    }
    .write_text {
        font-size: 1rem;
    }
    .button {
        width: 16rem;
        height: 3rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .conditions {
        margin-top: 1.5rem;
        padding: 0.4rem 0.6rem;
        max-height: 16rem;
    }
    .dot {
        width: 0.5rem;
        height: 0.5rem;
    }
    .cond_text {
        font-size: 0.8rem;
        margin-left: 0.5rem;
        width: calc(100% - 1rem);
    }
    .note {
        font-size: 0.65rem;
    }
}
@media (max-width: 575px) {
    .column {
        width: 50%;
    }
    .none {
        width: 0;
        display: none;
    }
    .left {
        width: 100%;
        padding: 1.2rem;
    }
    .right {
        width: 100%;
        flex-direction: row;
        flex: 1 0 auto;
        padding: 0.6rem;
    }
    .name {
        display: flex;
        align-items: center;
    }
    .ml_auto {
        margin-left: auto;
    }
    .separate {
        border-left: none;
        height: 0;
        width: 100%;
        border-bottom: 0.1rem solid #304FFE;
    }
    .preview {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
    }
    .name {
        font-size: 1.1rem;
    }
    .bpm {
        font-size: 0.9rem;
        margin-top: -0.5rem;
    }
    .price {
        font-size: 1.1rem;
    }
    .list {
        margin-top: 1rem;
        height: 15.1rem;
    }
    .variant {
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        height: 4.5rem;
    }
    .round {
        width: 2.2rem;
        height: 2.2rem;
    }
    .check {
        width: 1.4rem;
        height: 1.4rem;
    }
    .var_name {
        font-size: 1rem;
    }
    .svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .write_text {
        font-size: 0.9rem;
    }
    .button {
        width: 13rem;
        height: 2.6rem;
        font-size: 0.9rem;
        margin-top: 6vh;
        border-radius: 0.5rem;
    }
    .conditions {
        margin-top: 0;
    }
    .note {
        margin-top: 1rem;
    }
}