.info {
    margin-top: 5vh;
    width: 100%;
    padding-bottom: 3.8rem;
    border-bottom: 0.1rem solid #304FFE;
}
.line {
    display: flex;
}
.preview {
    width: 21rem;
    height: 21rem;
    border-radius: 1rem;
    margin-right: 12%;
}
.right {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.flex_line {
    display: flex;
    align-items: center;
}
.name {
    font-family: 'Manrope', sans-serif;
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
}
.bpm {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    margin-left: 3rem;
    color: rgba(255, 255, 255, 0.6);
}
.stars_mt {
    margin-top: 1rem;
}
.star {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.8rem;
}
.count {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: white;
    margin-left: 1rem;
    margin-top: 0.1rem;
    transition: all 0.2s;
}
.author {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    color: #82B1FF;
    margin-top: 1.5rem;
    transition: all 0.2s;
}
.author:hover {
    color: white;
}
.mt_auto {
    margin-top: auto;
}
.variants {
    width: 24rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #304FFE;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
.message {
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 6rem;
}
.message:hover {
    cursor: pointer;
}
.message:hover .svg {
    fill: white;
}
.message:hover .message_text {
    color: white;
}
.svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
    fill: #82B1FF;
    transition: all 0.2s;
}
.message_text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    color: #82B1FF;
    transition: all 0.2s;
}
.list {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.track_line {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.3rem 1.5rem 1.5rem;
    transition: all 0.2s;
}
.track_line:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
.track_border {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.current {
    border: 0.1rem solid white;
}
.pos {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}
.track_name {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    margin-left: 2rem;
}
.reaction {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    color: #82B1FF;
    margin-left: auto;
    text-decoration: underline;
    transition: all 0.2s;
}
.reaction:hover {
    color: white;
    cursor: pointer;
}
.time {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    margin-left: 2.6rem;
}
@media (max-width: 1399px) {
    .info {
        margin-top: 3vh;
    }
    .preview {
        width: 18rem;
        height: 18rem;
        margin-right: 8%;
    }
}
@media (max-width: 1199px) {
    .info {
        margin-top: 2vh;
        padding-bottom: 2.8rem;
    }
    .right {
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
    }
    .preview {
        width: 17rem;
        height: 17rem;
    }
    .name {
        font-size: 2.6rem;
    }
    .bpm {
        font-size: 1.4rem;
        margin-left: 2rem;
    }
    .stars_mt {
        margin-top: 0.7rem;
    }
    .star {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.6rem;
    }
    .count {
        font-size: 1.2rem;
        margin-left: 0.7rem;
    }
    .author {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    .variants {
        width: 20rem;
        height: 3.4rem;
        font-size: 1.2rem;
    }
    .message {
        height: 3.4rem;
        margin-left: 4rem;
    }
    .svg {
        width: 2rem;
        height: 2rem;
    }
    .message_text {
        font-size: 1.2rem;
    }
    .list {
        margin-top: 4vh;
    }
    .track_line {
        padding: 1.2rem 2rem 1.2rem 1.5rem;
    }
    .pos {
        font-size: 1.4rem;
        width: 2.6rem;
        height: 2.6rem;
    }
    .track_name {
        font-size: 1.4rem;
    }
    .reaction {
        font-size: 1.1rem;
    }
    .time {
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}
@media (max-width: 991px) {
    .info {
        margin-top: 0;
        padding-bottom: 2rem;
    }
    .preview {
        width: 14rem;
        height: 14rem;
        border-radius: 0.8rem;
        margin-right: 6%;
    }
    .name {
        font-size: 2.3rem;
    }
    .bpm {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
    .stars_mt {
        margin-top: 0.5rem;
    }
    .star {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.4rem;
    }
    .count {
        font-size: 1.1rem;
    }
    .author {
        font-size: 1.4rem;
        margin-top: 0.6rem;
    }
    .variants {
        width: 18rem;
        height: 3rem;
        font-size: 1.1rem;
        border-radius: 0.6rem;
    }
    .message {
        height: 3rem;
        margin-left: 3rem;
    }
    .svg {
        width: 1.8rem;
        height: 1.8rem;
    }
    .message_text {
        font-size: 1.1rem;
    }
    .list {
        margin-top: 3vh;
    }
    .track_line {
        padding: 1.2rem 1.8rem 1.2rem 1.5rem;
    }
    .pos {
        font-size: 1.2rem;
        width: 2.2rem;
        height: 2.2rem;
    }
    .track_name {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
    .reaction {
        font-size: 1rem;
    }
    .time {
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
}
@media (max-width: 767px) {
    .info {
        padding-bottom: 1.2rem;
    }
    .preview {
        width: 11rem;
        height: 11rem;
    }
    .name {
        font-size: 2rem;
    }
    .bpm {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .stars_mt {
        margin-top: 0.1rem;
    }
    .star {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.3rem;
    }
    .count {
        font-size: 1rem;
        margin-top: 0;
    }
    .author {
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
    .variants {
        width: 14rem;
        height: 2.4rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
    .message {
        height: 2.4rem;
        margin-left: 2rem;
    }
    .svg {
        width: 1.6rem;
        height: 1.6rem;
    }
    .message_text {
        font-size: 1rem;
    }
    .list {
        margin-top: 2vh;
    }
    .track_line {
        padding: 0.9rem 1.5rem 0.9rem 1.2rem;
    }
    .pos {
        font-size: 1rem;
        width: 1.9rem;
        height: 1.9rem;
    }
    .track_name {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .reaction {
        font-size: 0.9rem;
    }
    .time {
        font-size: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 575px) {
    .small_line {
        flex-direction: column;
        align-items: center;
    }
    .flex_line {
        justify-content: center;
    }
    .preview {
        margin-right: 0;
        width: 14rem;
        height: 14rem;
        margin-bottom: 2rem;
    }
    .name {
        font-size: 1.8rem;
    }
    .bpm {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }
    .stars_mt {
        margin-top: 0.6rem;
    }
    .star {
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }
    .count {
        margin-left: 0;
        margin-top: 0.2rem;
    }
    .author {
        font-size: 1.4rem;
        margin-top: 0.6rem;
    }
    .mt_auto {
        flex-direction: column;
        margin-top: 2rem;
    }
    .variants {
        width: 17rem;
        height: 3rem;
        font-size: 1.2rem;
        border-radius: 0.6rem;
    }
    .message {
        margin-top: 1rem;
        margin-left: 0;
        height: 3rem;
    }
    .svg {
        width: 2rem;
        height: 2rem;
    }
    .message_text {
        font-size: 1.2rem;
    }
}