.max {
    flex: 1 0 auto;
    align-items: center;
    height: 100%;
}
.text {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    width: 35rem;
}
.svg {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    fill: #00E676;
}
@media (max-width: 1199px) {
    .text {
        width: 30rem;
    }
    .svg {
        width: 7rem;
        height: 7rem;
    }
}
@media (max-width: 991px) {
    .text {
        font-size: 0.85rem;
        width: 26rem;
    }
    .svg {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.5rem;
    }
}