.transform {
    transform: translateY(-5vh);
}
.message {
    font-family: 'Manrope', sans-serif;
    font-size: 2.1rem;
    color: white;
    text-align: center;
    width: 40%;
}
.mail {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    color: #82B1FF;
    margin-top: 2.2rem;
}
@media (max-width: 1399px) {
    .message {
        font-size: 1.8rem;
    }
    .mail {
        font-size: 1.6rem;
    }
}
@media (max-width: 1199px) {
    .message {
        font-size: 1.6rem;
    }
    .mail {
        font-size: 1.4rem;
    }
}
@media (max-width: 991px) {
    .message {
        font-size: 1.4rem;
    }
    .mail {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}
@media (max-width: 767px) {
    .message {
        font-size: 1.3rem;
    }
    .mail {
        font-size: 1.1rem;
    }
}
@media (max-width: 575px) {
    .message {
        width: 80%;
    }
}