.important {
    margin-top: 7vh;
}
.end {
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    color: white;
    margin-top: 7vh;
}
.timeBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}
.time {
    font-family: 'Manrope', sans-serif;
    font-size: 2.6rem;
    color: white;
}
.line {
    display: flex;
    margin-bottom: 5vh;
}
.buttonWrapper {
    width: 21rem;
    height: 4rem;
}
.refusal {
    margin-left: auto;
}
.confirm {
    margin-left: 2.5rem;
}
@media (max-width: 1199px) {
    .end {
        font-size: 1.6rem;
        margin-top: 5vh;
    }
    .time {
        font-size: 2.3rem;
    }
    .buttonWrapper {
        width: 17rem;
        height: 3.5rem;
    }
}
@media (max-width: 991px) {
    .important {
        margin-top: 5vh;
    }
    .end {
        font-size: 1.4rem;
    }
    .time {
        font-size: 2rem;
    }
    .buttonWrapper {
        width: 14rem;
        height: 3rem;
    }
}
@media (max-width: 767px) {
    .important {
        margin-top: 3vh;
    }
    .end {
        font-size: 1.4rem;
        margin-top: 3vh;
    }
    .time {
        font-size: 1.7rem;
    }
    .buttonWrapper {
        width: 12rem;
        height: 2.6rem;
    }
    .line {
        margin-bottom: 8vh;
    }
}
@media (max-width: 575px) {
    .time {
        font-size: 2.2rem;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .confirm {
        margin-left: 0;
    }
    .refusal {
        margin-left: 0;
    }
    .line {
        flex-direction: column;
        align-items: center;
    }
    .buttonWrapper {
        width: 16rem;
        height: 3.2rem;
        margin-top: 1rem;
    }
}