.up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    font-family: 'Manrope', sans-serif;
    font-size: 2.6rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.8rem;
}
.text {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-top: 0.9rem;
}
.href {
    display: inline-block;
    color: #82B1FF;
    text-decoration: underline;
    transition: all 0.2s;
}
.href:hover {
    cursor: pointer;
    color: white;
}
.btn_wrap {
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.button {
    padding-left: 4rem;
    padding-right: 4rem;
}
@media (max-width: 1199px) {
    .head {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }
    .text {
        font-size: 1.1rem;
        margin-top: 0.6rem;
    }
    .btn_wrap {
        height: 3.3rem;
        margin-top: 4vh;
    }
    .button {
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }
}
@media (max-width: 991px) {
    .center {
        margin-top: 0;
    }
    .head {
        font-size: 1.9rem;
        margin-bottom: 0.3rem;
    }
    .text {
        font-size: 0.9rem;
    }
    .btn_wrap {
        height: 2.64rem;
    }
    .button {
        padding-left: 2.64rem;
        padding-right: 2.64rem;
    }
}