html,
body {
  min-width: 320px;
  font-size: 10px;
  background-color: #000;
}
.height {
  min-height: calc(100vh - 9rem);
}
::-webkit-scrollbar {
  background-color: black;
  width: 0.8rem;
}
p {
  margin-bottom: 0;
}
h1 {
  margin-bottom: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #82B1FF;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media (max-width: 1199px) {
  ::-webkit-scrollbar {
    background-color: black;
    width: 0.4rem;
  }
}
@media (max-width: 767px) {
  .height {
    min-height: calc(100vh - 6rem);
  }
}