.underline {
    text-decoration: underline;
    display: inline-block;
}
.bold {
    font-weight: bold;
    display: inline-block;
}
.ptr:hover {
    cursor: pointer;
}
.head {
    font-family: 'Manrope', sans-serif;
    font-size: 2.6rem;
    color: white;
    font-weight: bold;
    margin-top: 3.5vh;
}
.txt_mt {
    margin-top: 1.7rem;
}
.text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    color: white;
}
.imt {
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
}
@media (max-width: 1199px) {
    .head {
        font-size: 2.3rem;
        margin-top: 3.5vh;
    }
    .txt_mt {
        margin-top: 1.4rem;
    }
    .text {
        font-size: 1.3rem;
    }
    .imt {
        font-size: 2rem;
    }
}
@media (max-width: 991px) {
    .head {
        font-size: 2rem;
        margin-top: 4vh;
    }
    .txt_mt {
        margin-top: 1.1rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .imt {
        font-size: 1.6rem;
    }
}
@media (max-width: 767px) {
    .head {
        margin-top: 0;
        font-size: 1.7rem;
    }
    .txt_mt {
        margin-top: 0.9rem;
    }
    .text {
        font-size: 1rem;
    }
}
@media (max-width: 575px) {
    .pd {
        display: flex;
        flex-direction: column;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
    .text {
        font-size: 0.9rem;
    }
}