html,
body {
  min-width: 320px;
  font-size: 10px;
  background-color: #000;
}
.height {
  min-height: calc(100vh - 9rem);
}
::-webkit-scrollbar {
  background-color: black;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #82B1FF;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
@media (max-width: 767px) {
  .height {
    min-height: calc(100vh - 6rem);
  }
}